<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Stock Profit Calculator</title>
    <link rel= "stylesheet" type= "text/css" href="style.css">
</head>
<body>
    <h3>Compute Your Profit:</h3>
    <form action="calculate_profit" method="POST">
        <p><label>Ticker Symbol:</label><input type="text" name="ticker"/></p>
        <p><label>Allotment:</label><input type="number" name="allot"/></p>
        <p><label>Final Share Price:</label><input type="number" name="final_share"/></p>
        <p><label>Sell Commission:</label><input type="number" name="sell_com"/></p>
        <p><label>Initial Share Price:</label><input type="number" name="initial_share"/></p>
        <p><label>Buy Commission:</label><input type="number" name="buy_com"/></p>
        <p><label>Capital Gain Tax Rate(%):</label><input type="number" name="capital"/></p>
        <p><input type="submit" value="Compute"/></p>
    </form>
    {% if result %}
    <h3>PROFIT REPORT:</h3>

                <p>Proceeds</p>
                <p>${{ result['proceeds'] }}</p>
                <p>Cost</p>
                <p>${{ result['cost'] }}</p>
                <p>Cost details:</p>
                <p>Total Purchase Price</p>
                <p>{{ result['allot'] }} X ${{ result['init_share'] }} = {{ result['total_purchase'] }}</p>
                <p>Buy Commission = {{ result['buy_com'] }}</p>
                <p>Sell Commission = {{ result['sell_com'] }}</p>
                <p>Tax on Capital Gain = {{ result['capital'] }}% of ${{ result['capital_cont'] }}</p>
                <p>Net Profit</p>
                <p>{{ result['net_profit'] }}</p>
                <p>Return on Investment</p>
                <p>{{ result['return_inv'] }}</p>
                <p>To break even, you should have a final share price of</p>
                <p>{{ result['break_even'] }}</p>

    {% endif %}
</body>
</html>