<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Greybag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href="style.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home Page</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="stock_calc">Python Stock Profit Calculator</a></li>
      <li><a href="fin_info">Python Finance Info</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
    <h3>Welcome to the Grey Bag</h3>
    <h4>CMPE 285 - Fall 2018</h4>
    <h5>Anjali Vijayaraghavan</h5>
</div>

</body>
</html>